/* h1 {
    color: yellow;
    font-size: 30px;
/* } */
/* #yl {
    color: burlywood;
    font-size: 20px;
} */ 

#google {
    text-decoration: none;
    background-color: rgb(67, 202, 26);
    color: #fff;
    
}

#text {
    color: rgb(28, 139, 212);
}